@import-normalize;
@import 'font.css';
@import 'button.css';
@import 'portfolio-list.css';
@import 'portfolio.css';
@import 'asset.css';
@import 'portfolio-edit.css';

*, *::before, *::after {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 200;
  font-style: light;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  padding: 0;
  margin: 0;
  background: #1e222d;
  /* color: rgba(117,134,150,.6); */
  color: rgb(180, 180, 180);
  /* color: #4a4a4a; */
}

.mr-1 {
  margin-right: 5px;
}