.portfolio {
  padding: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

.portfolio__title {
  margin: 0;
  color: white;
  font-size: 1.4rem;
}

.portfolio__row {
  margin-top: 10px;
}

.portfolio__label {
  /* margin-right: 5px; */

}

.portfolio__value {
  /* font-weight: 200; */

}